<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Valorant Players</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <h2 class="text-center mb-5">Most Loved Players</h2>

        <div class="d-flex justify-content-center">
            <% for (let player of players) {%>

            <div class="card mb-3 d-inline-block" style="width: 18rem">
                <img src="<%=player.image%>" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center"><%= player.name %></h5>
                    <a
                        href="/players/<%= player._id %>"
                        class="d-flex justify-content-center btn btn-primary"
                        >More Details</a
                    >
                </div>
            </div>
            <% } %>
        </div>

        <h2 class="text-center">Share Your Thoughts With Us</h2>
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <form
                action="/players"
                method="POST"
                novalidate
                class="validated-form"
            >
                <div class="mb-3">
                    <label class="form-label" for="name">Username</label>
                    <input
                        class="form-control"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Username"
                        required
                    />
                    <div class="valid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input
                        class="form-control"
                        type="text"
                        name="title"
                        id="title"
                        placeholder="Title"
                        required
                    />
                    <div class="valid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        name="description"
                        id="description"
                        required
                    ></textarea>
                    <div class="valid-feedback"></div>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>

        <h2 class="text-center">Feature Recommendation</h2>

        <div class="justify-content-md-center">
            <% for (let comment of comments) {%>
            <div class="card mb-5" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= comment.title %></h5>
                    <p class="card-text"><%= comment.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= comment.name %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/players/<%= comment._id %>/edit" class="card-link"
                        >Edit</a
                    >
                    <form
                        action="/players/<%=comment._id%>?_method=DELETE"
                        method="POST"
                    >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.validated-form');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener(
                'submit',
                function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                },
                false
            );
        });
    })();
</script>
